    $buttonColor: #ef8354;
    $buttonHoverColor: #bfc0c0;
    $outPutColor: #ef8354;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15vh;
        #input_box {
            margin-top: 5vh;
            width: 30vw;
            font-size: .9em;
        }
        #submit_button {
            padding-left: 1em;
            padding-right: 1em;
            padding-top: .25em;
            padding-bottom: .25em;
            text-align: center;
            margin-top: 1em;
            border: none;
            font-size: .9em;
            border-radius: 5%;
            box-shadow: 1px 2px black;
            background-color: $buttonColor;
            color: white;
            &:hover {
                background-color: $buttonHoverColor;
                box-shadow: 2px 4px black;
            }
        }
    }
    
    #output_container {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background-color: $outPutColor;
        color: white;
        padding: 1em;
        width: 25vw;
        box-shadow: 1px 3px black;
        border-radius: 5%;
        h2 {
            margin-top: .15em;
            margin-bottom: .15em;
            text-shadow: 1px 2px black;
        }
        ul {
            text-align: left;
        }
        li {
            list-style: none;
            line-height: 1.5em;
        }
    }