header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aqua;
    padding-top: 0;
    padding-bottom: 0;
    height: 10vh;
    h1 {
        text-align: center;
        font-size: 2.25em;
    }
}